<mat-toolbar>
  <span *ngIf="id">Update Order</span>
  <span *ngIf="!id">Add Order</span>
</mat-toolbar>


<mat-card id="card" style="align-items: center">


  <mat-card-content>

    <form [formGroup]="orderForm" (ngSubmit)="submit()">

      <div class="row" [fxLayout]="'row'" [fxLayout.sm]="'column'" [fxLayoutGap]="'10px'"
           [fxLayoutAlign]="'space-between center'">
        <mat-form-field appearance="fill">
          <mat-label>Customer</mat-label>
          <mat-select formControlName="customer_id" required>
            <mat-option *ngFor="let customer of customerList" [value]="customer.id">
              {{customer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <br>


      <button mat-raised-button class="add-btn" type="button"
              style="background-color: aliceblue;  border: solid lightblue; "
              (click)="addOrderUnit()">
        <mat-icon>queue</mat-icon>
        Add Order Unit
      </button>


      <!--   Nested form Order Unit     -->
      <div formArrayName="order_units" style="margin-top: 10px">

        <div *ngFor="let order_unit of orderForm.get('order_units')['controls']; let i = index;"
             [formGroupName]="i">


          <div class="row" [fxLayout]="'row'" [fxLayout.sm]="'column'" [fxLayoutGap]="'10px'"
               [fxLayoutAlign]="'space-between center'">
            <mat-form-field appearance="fill">
              <mat-label>Product</mat-label>
              <mat-select formControlName="product_id" (selectionChange)="onChangeOfProduct(order_unit)" required>
                <mat-option *ngFor="let product of productList" [value]="product.id">
                  {{product.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <!--   Amount  Input   -->

            <mat-form-field fxFlex>
              <input matInput placeholder="Amount" formControlName="amount" required>
            </mat-form-field>

            <!--   Price Input    -->

            <mat-form-field fxFlex>
              <input matInput placeholder="Price" formControlName="price" readonly>
            </mat-form-field>


            <button mat-icon-button style="background-color:  #F36B1C; color: white"
                    (click)="removeOrderUnit(i)">
              <mat-icon>remove</mat-icon>

            </button>


          </div>

        </div>
      </div>


      <!--  End Nested form  Order Unit     -->
      <span *ngIf="totalPrice">Total Price: {{totalPrice}}</span>
      <br>
      <br>


      <button mat-flat-button class="add-btn" style="background-color: aliceblue;  border: solid lightblue; "
              type="submit">
        <mat-icon>save</mat-icon>
        Submit
      </button>




    </form>


  </mat-card-content>


</mat-card>




