<mat-toolbar>
  <span>Lista e shitesve</span>

  <span class="flexExpand"></span>
  <button mat-raised-button style="background-color: aliceblue;  border: solid lightblue;  "
          type="button"
          (click)="navigate()">
    <mat-icon>add</mat-icon>
    Shto Shites
  </button>


</mat-toolbar>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource " matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username</th>
      <td mat-cell *matCellDef="let row"> {{row.username}}</td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
      <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
    </ng-container>


    <!-- Last Name Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name</th>
      <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
    </ng-container>


    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>


    <!-- Is Active Column -->
    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active</th>
      <td mat-cell *matCellDef="let row">

        <mat-slide-toggle [(ngModel)]="row.is_active"
                          (change)="isActiveChange(row)"></mat-slide-toggle>
      </td>
    </ng-container>


    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Update</th>
      <td mat-cell *matCellDef="let row">

        <button mat-icon-button (click)="update(row.id)">
          <mat-icon style="color: #327ebd">edit</mat-icon>
        </button>

      </td>
    </ng-container>


    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button style="color: #b53c3c" (click)="delete(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

  <mat-paginator [length]="count" [pageSize]="10" #paginator (page)="getSellerList()"
  ></mat-paginator>

</div>
