
$color-primary: #006F98;
$color-primary-lighten: #31A6D8;
$color-primary-dark: #165874;
$color-secondary-1: #3C5872;
$color-secondary: #0B2E4F;
$color-secondary-light: #3C5872;
$color-secondary-dark: #1D2D3D;
$color-white: #FFFFFF;
$color-default-bg: #e5e5e5;
$color-bg: #F4F6F9;
$color-default-section-bg: #EDEFF0;
$color-error: #AE1625;
$color-gray-1: #F4F6F9;
$color-gray-3: #C2D1D9;
$color-gray-4: #8194A6;

