<p>product-form works!</p>

<form [formGroup]="productForm" (ngSubmit)="submit()">

  <div class="row" [fxLayout]="'row'" [fxLayout.sm]="'column'" [fxLayoutGap]="'10px'"
       [fxLayoutAlign]="'space-around center'">

    <mat-form-field fxFlex>
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>


  </div>

  <div class="row" [fxLayout]="'row'" [fxLayout.sm]="'column'" [fxLayoutGap]="'10px'"
       [fxLayoutAlign]="'space-between center'">
    <mat-form-field fxFlex>
      <input matInput placeholder="Default Price" formControlName="default_price" required>
    </mat-form-field>
  </div>


  <div class="row" [fxLayout]="'row'" [fxLayout.sm]="'column'" [fxLayoutGap]="'10px'"
       [fxLayoutAlign]="'space-between center'">
    <mat-form-field fxFlex>
      <input matInput placeholder="Description" formControlName="description" required>
    </mat-form-field>
  </div>


  <div class="row" [fxLayout]="'row'" [fxLayout.sm]="'column'" [fxLayoutGap]="'10px'"
       [fxLayoutAlign]="'space-between center'">
    <mat-form-field fxFlex>
      <input matInput placeholder="Product Category" formControlName="product_category" required>
    </mat-form-field>
  </div>


  <button mat-flat-button class="add-btn" color="primary" type="submit">
    <mat-icon>save</mat-icon>
    Submit
  </button>


</form>

