<div class="topnav">

  <div class="col-md-12" *ngIf="isAdministrator">
    <a [routerLink]="sellerListPath">Shites</a>
    <a [routerLink]="customerListPath">Kliente</a>
    <a [routerLink]="productListPath">Produkte</a>
    <a [routerLink]="orderListPath">Porosi</a>
    <a style='float: right; cursor: pointer' (click)="logOut()">Log Out</a>

  </div>

  <div class="col-md-12" *ngIf="!isAdministrator">
    <a [routerLink]="customerListPath">Kliente</a>
    <a [routerLink]="productListPath">Produkte</a>
    <a [routerLink]="orderListPath">Porosi</a>
    <a style='float: right; cursor: pointer' (click)="logOut()">Log Out</a>

  </div>

</div>


<router-outlet></router-outlet>
