<div class="topnav">

  <div class="col-md-12" *ngIf="isAdministrator">
    <a [routerLink]="sellerListPath">Seller</a>
    <a [routerLink]="customerListPath">Customer</a>
    <a [routerLink]="productListPath">Products</a>
    <a [routerLink]="orderListPath">Order</a>


    <a style='float: right; cursor: pointer' (click)="logOut()">
      <mat-icon>power_settings_new</mat-icon>
    </a>

  </div>

  <div class="col-md-12" *ngIf="!isAdministrator">
    <a [routerLink]="customerListPath">Customer</a>
    <a [routerLink]="productListPath">Products</a>
    <a [routerLink]="orderListPath">Order</a>


    <a style='float: right; cursor: pointer' (click)="logOut()">
      <mat-icon>power_settings_new</mat-icon>
    </a>

  </div>

</div>


<router-outlet></router-outlet>
