
<mat-toolbar>
  <span>Lista e porosive</span>

  <span class="flexExpand"></span>
  <button mat-raised-button style="background-color: aliceblue;  border: solid lightblue;  "
          type="button"
          (click)="addOrder()">
    <mat-icon>add</mat-icon>
    Shto Porosi
  </button>


</mat-toolbar>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>


    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code</th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>

    <!-- Code Year Column -->
    <ng-container matColumnDef="code_year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Year</th>
      <td mat-cell *matCellDef="let row"> {{row.code_year}}</td>
    </ng-container>

    <!-- Date Registered Column -->
    <ng-container matColumnDef="date_registered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Registered</th>
      <td mat-cell *matCellDef="let row"> {{row.date_registered}} </td>
    </ng-container>


    <!-- Customer ID  Column -->
    <ng-container matColumnDef="customer_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer ID</th>
      <td mat-cell *matCellDef="let row"> {{row.customer_id}} </td>
    </ng-container>


    <!-- Creator ID Column -->
    <ng-container matColumnDef="creator_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Creator ID</th>
      <td mat-cell *matCellDef="let row"> {{row.creator_id}} </td>
    </ng-container>



    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Update</th>
      <td mat-cell *matCellDef="let row">

        <button mat-icon-button (click)="update(row.id)">
          <mat-icon style="color: #327ebd">edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button style="color: #b53c3c" (click)="delete(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>
  <mat-paginator [length]="count" [pageSize]="10" #paginator (page)="getOrderList()">

  </mat-paginator>

</div>
